git+https://github.com/NadezhdaDudnik/orm_client.git
git+https://github.com/NadezhdaDudnik/restclient.git
git+https://github.com/NadezhdaDudnik/db_client.git
git+https://github.com/NadezhdaDudnik/dm_api_account.git
requests
pytest
structlog
curlify
pydantic
pyhamcrest
sqlalchemy
allure-pytest